.widget {
	margin-bottom:20px;
}
.sugestaoitem {
	height:40px;
	line-height: 40px;
}
.post_area {
	border-bottom:1px solid #CCC;
}
.post_area textarea {
	height:100px;
}
.postitem {
	border-bottom:1px solid #CCC;
	padding-top:10px;
	padding-bottom:10px;
}
.postitem_texto {
	background-color:#EEE;
	padding:10px;
}
.postitem_comentario {
	display:none;
}